@import "../../../../styles/breakpoints.scss";

.form-container {
  color: #fff5ea;
  display: flex;
  height: 100%;
  position: relative;

  @include respond-from-to(0px, $breakpoint-mobile) {
    background: url("https://c.wallhere.com/photos/66/55/3840x2400_px_Canada_clouds_Dark_forest_Hill_landscape_lines-684823.jpg!d")
      no-repeat center center;
    background-size: cover;
    flex-direction: column;
    min-width: 320px;
    position: relative;

    &::before {
      background: inherit;
      bottom: 0;
      content: "";
      filter: blur(10px);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @include respond-from-to($breakpoint-mobile + 1px, 9999px) {
    background-color: #161b33;
    flex-direction: row;
  }
}

.form-wrapper {
  @include respond-from-to(0px, $breakpoint-mobile) {
    width: 100%;
  }

  @include respond-from-to($breakpoint-mobile + 1px, 9999px) {
    max-width: 300px;
    min-width: 250px;
    width: 40%;
  }
}

.form-image-wrapper {
  @include respond-from-to($breakpoint-mobile + 1px, 9999px) {
    background: url("https://c.wallhere.com/photos/66/55/3840x2400_px_Canada_clouds_Dark_forest_Hill_landscape_lines-684823.jpg!d")
      no-repeat center center;
    background-size: cover;
    flex: 1;
  }
}

.mdc-tab__text-label {
  color: #fff5ea !important;
}
