@import "../../../../styles/breakpoints.scss";

.register-container {
  padding: 30px 20px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #647a81;
  border: none;
  bottom: 14px;
  height: 34px;
  margin-bottom: 10px;
  outline: none;
  padding: 0 10px;
  right: 9px;
  width: calc(100% - 30px);

  &:focus {
    border: 2px solid #2764f3;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.form-text {
  margin-bottom: 10px;
}

.register-button {
  background-color: #2764f3;
  border-radius: 5px;
  border: none;
  bottom: 14px;
  color: #f3f6f4;
  height: 34px;
  margin-bottom: 10px;
  outline: none;
  padding: 0 10px;
  right: 9px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: calc(100% - 11px);

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: #ededed;
    color: #9a9a9a;
    cursor: not-allowed;
  }
}

.error-text {
  color: red;
  font-size: smaller;
  margin-bottom: 5px;
}

.register-status {
  width: 100%;
  padding: 10px;

  border-radius: 10px;
  font-size: smaller;
}

.success {
  background-color: #cdfcce;
  border: 2px solid #19a337;
}

.error {
  background-color: #fccdcd;
  border: 2px solid #a31919;
}
